<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3><a href="/new">New Car</a></h3>
<table border="1" cellpadding="5">
    <!--<tr>-->
        <!--<th>ID</th>-->
        <!--<th>Firstname</th>-->
        <!--<th>Lastname</th>-->
        <!--<th>Age</th>-->
        <!--<th>Action</th>-->
    <!--</tr>-->
    <div>
        <th:block th:each="msg : ${messages}">
            <h1 th:text="${msg}"></h1>
        </th:block>
    </div>
</table>
</body>
</html>